@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins&display=swap');

body{
    background-color: #f3f6fd;
}
.buttonStyle{
    background-color: #0f0e17;
    color: white;
    height: 40px;
    border-radius: 8px;
    user-select: none;
}
::-webkit-scrollbar{
    display: none;
}
textarea {
    resize: none;
  }

  input[type=date]::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}